@import url("vars.css");
@import url("entry.css");
@import url("button.css");
@import url("auth.css");
@import url("popup.css");
@import url("leftbar.css");
@import url("chat.css");

* {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

window {
    /* border-radius: 0 0 10px 10px;
    border: none; */
    color: @main-font-color;
    background-color: @main-bg-color;
}


.chatscreen_notify {
    color: @main-font-color;
}

.hidden {
    font-size: 0px;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.menubar {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.menubar:hover .switch_auth_menu_label{
    color: rgb(167, 188, 255);
}

.menubar_menu {
    padding: 10px;
    /* border-radius: 10px; */
    border: none;
    outline: none;
    box-shadow: none;
    color: @main-font-color;
    background-color: @second-bg-color;
}