.login_menu {
    padding: 50px;
}

.signup_menu {
    padding: 50px;
}

.switch_auth_menu_label {
    color: rgb(0, 0, 255);
    text-decoration-line: underline;
    padding: 5px;
    transition: all 0.2s linear;
}

.event_switch_auth_menu:hover .switch_auth_menu_label {
    color: rgb(0, 136, 255);
}

.input_field {

}

.input_field--error {
    /* border-color: red; */
    background-color: red;
}

.input_field--success { 
    /* border-color: red; */
    background-color: rgb(40, 197, 40);
}

.notify_label {
    font-size: 11px;
    /* color: red; */
    margin: 5px 0 0 5px;
}

.notify_label--error {
    color: red;
}

.notify_label--success {
    color: rgb(40, 197, 40);
}

.leftbar {
    background-color: #292c43;
    /* padding: 0px 20px; */
}

.leftbar_header_block {
    margin: 30px 0px 20px;
    padding: 0px 20px;
}

.leftbar_header_label {
    font-size: 32px;
    color: white;
}

.search_block {
    /* padding: 0px 20px; */
    /* margin-bottom: 10px; */
}

.scrollable_wrap {
    /* background-color: lime; */
}

.chatlist {
    /* background-color: maroon; */
    padding: 10px 20px 0px;    
}

.create_chat_event {
    background-color: rgba(70, 70, 70, 0.538);
}

.create_chat_menu {
    background-color: mediumslateblue;
}


/* chat list item */
.chatlist_item {
    padding: 20px;
    background-color: #2f334d;
    border-radius: 10px;
    /* margin-bottom: 10px; */
    color: white;
}

.chatlist_item_wrap:hover .chatlist_item{
    background-color: #2a4cbc;
    transition: 0.2s background linear;
}

.chatlist_item_wrap.active .chatlist_item{
    background-color: #476eef;
    transition: 0.2s background linear;
}

.chatlist_item_avatar {
    background-color: yellow;
    border-radius: 50px;
}

.chatlist_item_notify {
    background-color: #f84469;
    border-radius: 50px;
}

.chat {
    background-color: indigo;
}

.hidden {
    font-size: 0px;
    opacity: 0;
    padding: 0;
    margin: 0;
}